.menu {
  display: flex;
  padding: 50px 20px;
  width: 100%;
  max-width: 1300px;
  flex-wrap: wrap;
}

.menu__item {
  background-color: #ececec;
  border: 1px solid #797979;
  border-radius: 10px;
  min-width: 160px;
  height: 40px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
  margin: 15px;
}

.menu__item--selected {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
